click
dnspython
google-api-core
google-auth
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
Flask
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pymongo
python-dateutil
python-dotenv
setuptools
six
Werkzeug
zipp
